<div id="course-details">
	<div id="main-details">
	  <h1>Course Reserves List Request</h1>
	  <%- if params[:action] == "new" -%>
  		<h2>
  		  <%= @course[:cid] if (@course and @course.has_key?(:cid)) -%>: <%= @course[:title] if (@course and @course.has_key?(:title)) -%>
  		  <%= "(#{@course[:cross_listings]})" if @course and @course.has_key?(:cross_listings) and !@course[:cross_listings].blank? %>
  		</h2>
  		<input type="hidden" name="reserve[cid]" value="<%= @course[:cid] if (@course and @course.has_key?(:cid)) -%>" />
  		<input type="hidden" name="reserve[desc]" value="<%= @course[:title] if (@course and @course.has_key?(:title)) -%>" />
  		<input type="hidden" name="reserve[sid]" value="<%= @course[:sid] if (@course and @course.has_key?(:sid)) -%>" />
  		<input type="hidden" name="reserve[compound_key]" value="<%= @course[:comp_key] if (@course and @course.has_key?(:comp_key)) -%>" />
  		<input type="hidden" name="reserve[cross_listings]" value="<%= @course[:cross_listings] if (@course and @course.has_key?(:cross_listings)) -%>" />
  		<div class="section"><span>Instructor:</span> <%= @course[:instructors].map{|i| i[:name] }.compact.join(", ") if (@course and @course.has_key?(:instructors)) -%></div>
  		<input type="hidden" name="reserve[instructor_sunet_ids]" value="<%= @course[:instructors].map{|i| i[:sunet] }.compact.join(", ") if (@course and @course.has_key?(:instructors)) -%>" />
  		<input type="hidden" name="reserve[instructor_names]" value="<%= @course[:instructors].map{|i| i[:name] }.compact.join(", ") if (@course and @course.has_key?(:instructors)) -%>" />
		<%- else -%>
		  <%= "<p>Request sent #{@reserve.sent_date}</p>".html_safe if @reserve and !@reserve.sent_date.nil? -%>
  		<h2>
  		  <%= @reserve.cid if (@reserve and @reserve.cid) -%>: <%= @reserve.desc if (@reserve and @reserve.desc) -%>
  		  <%= "(#{@reserve.cross_listings})" if @reserve and @reserve.cross_listings and !@reserve.cross_listings.blank? %>
  		</h2>
  		<input type="hidden" name="reserve[cid]" value="<%= @reserve.cid if (@reserve and @reserve.cid) -%>" />
  		<input type="hidden" name="reserve[desc]" value="<%= @reserve.desc if (@reserve and @reserve.desc) -%>" />
  		<input type="hidden" name="reserve[sid]" value="<%= @reserve.sid if (@reserve and @reserve.sid) -%>" />
  		<input type="hidden" name="reserve[compound_key]" value="<%= @reserve.compound_key if (@reserve and @reserve.compound_key) -%>" />
  		<input type="hidden" name="reserve[cross_listings]" value="<%= @reserve.cross_listings if (@reserve and @reserve.cross_listings) -%>" />
  		<div class="section"><span>Instructor:</span> <%= @reserve.instructor_names if (@reserve and @reserve.instructor_names) -%></div>
  		<input type="hidden" name="reserve[instructor_sunet_ids]" value="<%= @reserve.instructor_sunet_ids if (@reserve and @reserve.instructor_sunet_ids) -%>" />
  		<input type="hidden" name="reserve[instructor_names]" value="<%= @reserve.instructor_names if (@reserve and @reserve.instructor_names) -%>" />
		<%- end -%>
		<div class="section">Send request to
			<select id="libraries" name="reserve[library]">
				<option>(select library)</option>
				<% app_config.reserve_libraries.each do |email, library| %>
					<option <%= "selected='selected'" if @reserve and @reserve.library == library -%> value="<%= library -%>"><%= library -%></option>
				<% end %>
			</select>
		</div>
		<div class="section">
			When should these items be reserved?
			<div id="reserve-timing">
  			<input type="radio" id="immediate" name="reserve[immediate]" value="true" <%= "checked='checked'" if !@reserve or @reserve.immediate != "false" %> <%= "disabled='disabled'" if @reserve and @reserve.has_been_sent %>/> <label for="immediate">immediately</label><br/>
  			<input type="radio" id="future" name="reserve[immediate]" value="false" <%= "checked='checked'" if @reserve and @reserve.immediate == "false" %> <%= "disabled='disabled'" if @reserve and @reserve.has_been_sent %> />
  			<label for="future">for beginning of </label>
  			<select id="term" name="reserve[term]" <%= "disabled='disabled'" if @reserve and @reserve.has_been_sent %>>
  				<option <%= "selected='selected'" if @reserve and @reserve.term == "Summer 2012" %>>Summer 2012</option>
  				<option <%= "selected='selected'" if @reserve and @reserve.term == "Fall 2012" %>>Fall 2012</option>
  			</select> 
  			<label for="term">quarter</label>
			</div>
		</div>
		
	</div>

	<fieldset id="list-management">				
		<h3>List management</h3>				
		<p>Who should the library contact about this list?</p>
		<label for="contact_name">Name</label> <input name="reserve[contact_name]" value="<%= @reserve.contact_name if @reserve -%>" id="contact_name" type="text" /><br/>
		<label for="contact_phone">Phone</label> <input name="reserve[contact_phone]"  value="<%= @reserve.contact_phone if @reserve -%>" id="contact_phone" type="text"/><br/>
		<label for="contact_email">Email</label> <input name="reserve[contact_email]" value="<%= @reserve.contact_email if @reserve -%>"  id="contact_email" type="text"/><br/>
		<label for="editor_sunet_ids" id="editors-list">Who can edit this list?</label><br/>
		<span class="form-label"><%= params[:action] == "new" ? @course[:instructors].map{|i| i[:sunet] }.compact.join(", ") : @reserve.instructor_sunet_ids %>,</span> <input name="reserve[editor_sunet_ids]" value="<%= @reserve.editor_sunet_ids if @reserve -%>" id="editor_sunet_ids" type="text"/><br/>
		<span class="help">(SUNet IDs, separated by commas)</span>					
	</fieldset>
  <div style="clear:both;"></div>
</div>	
<div>
  <table id="item_list_table">	
    <thead>		
    	<tr>
    		<th class="number">&nbsp;</th>
    		<th class="title">Title</th>
    		<th class="copies">Copies</th>
    		<th class="loan_period">Loan period</th>
    		<th class="delete">Delete</th>
    	</tr>
  	</thead>	
  	<tbody>
    	<% unless @reserve.blank? or @reserve.item_list.blank? %>
    		<% @reserve.item_list.each_with_index do |item, index| %>
    		  <%= render :partial => "reserves_item", :locals => { :item => item, :index => index }-%>
    		<% end %>
    	<% end %>	
    	<tr id="add_row" class="<%= cycle("odd","even") %>">
    		<td class="enumerator last-row"><%= (@reserve.blank? or @reserve.item_list.blank?) ? 1 : @reserve.item_list.length + 1 -%></td>
    		<td colspan="4">
    			Copy/paste an item URL or catkey from <%= link_to( "SearchWorks", "http://searchworks.stanford.edu/") %>.<br/>
    			<input type="text" id="sw_url" /> <%= link_to("add", { :controller => 'reserves', :action => 'add_item', :format => 'js', :sw => 'true' }, :remote => true, :class => "add-sw-item active-button") -%> - or - <%= link_to("Reserve an item that's not in SearchWorks", { :controller => 'reserves', :action => 'add_item', :format => 'js', :sw => 'false' }, :id=>"add_custom", :remote => true ) %>
    		</td>
    	</tr>
  	</tbody>		
  </table>
</div>