<% uuid = SecureRandom.uuid %>
<%= fields_for "reserve[item_list][#{uuid}]", ReserveItem.new(item) do |f| %>
	<div class="reserve d-flex">
		<div class="enumerator"><span class="counter"></span></div>
		<div class="container">
			<div class="d-flex justify-content-between mb-2">
				<div class="">
					<% if item_in_searchworks?(item) %>
			      <p class="h5">
			        <%= link_to item['title'], "https://searchworks.stanford.edu/view/#{item['ckey']}", rel: 'noopener', target: '_blank' %>
			      </p>
			      <% if item['imprint'] %>
			        <p class="mb-1"><%= item['imprint'] %></p>
			      <% end %>
				    <% if item['online'] %>
				      <p class="mb-1"><span class="badge badge-success" aria-hidden="true">Online</span> Full text available online</p>
				    <% end %>
						<%= f.hidden_field :title %>
					<% else %>
						<%= f.label :title, 'Title', class: 'col-form-label mt-0' %>
						<%= f.text_area :title, cols: 60, rows: 3, class: 'form-control' %>
			  	<% end %>

					<%= f.hidden_field :imprint %>
					<%= f.hidden_field :ckey %>
					<%= f.hidden_field :media %>
					<%= f.hidden_field :online %>
				</div>
				<div class=""><%= link_to "[delete]", "", class: "delete", method: 'delete' -%></div>
			</div>
			<div>
				<hr />
				<% if f.object.online? %>
					<div class="form-group d-flex mb-2">
					  <button class="btn btn-checkbox pl-0" type="button" data-toggle="collapse" data-target="#collapsePrint" aria-expanded="<%= f.object.copies > 0 ? 'true' : 'false' %>" aria-controls="collapsePrint">
							<%= f.check_box :print_needed, aria: { hidden: true }, tabindex: '-1'  %>

					    In addition to the online copy, please reserve print versions too
					  </button>
					</div>
				<% end %>
				<div id="collapsePrint" class="collapse <%= 'show' if !f.object.online? || f.object.copies > 0 %>">
					<div class="form-group d-flex flex-column flex-md-row mb-3 mb-sm-2">
						<div class="d-flex">
							<%= f.label :copies, 'Print copies needed:', class: 'col-form-label' %>
							<%= f.number_field :copies, class: 'form-control num_copies', max: 99 %>
						</div>

						<%= f.label :personal, class: 'col-form-label' do %>
							<%= f.check_box :personal %>

							The instructor will loan a copy to the library
						<% end %>
					</div>

					<div class="form-group d-flex mb-2">
						<%= f.label :loan_period, 'Loan period:', class: 'col-form-label' %>

						<% if ActiveModel::Type::Boolean.new.cast(item["media"]) %>
							<%= f.hidden_field :loan_period %>
						<% end %>

						<%= f.select :loan_period, Settings.loan_periods.to_h.values, {}, class: "loan-period form-control loan-select #{"media" if ActiveModel::Type::Boolean.new.cast(item["media"])}", disabled: ActiveModel::Type::Boolean.new.cast(item["media"]) %>
					</div>
				</div>

				<div class="form-group d-flex flex-column flex-md-row mb-2">
					<%= content_tag :span, 'Is this a required or recommended text?', class: 'col-form-label pb-0'  %>
					<div class="d-flex flex-column mx-3">
						<%= f.label :required_true, class: 'col-form-label pt-0 pt-md-2 pb-0' do %>
							<%= f.radio_button :required, true %> Required
						<% end %>

						<%= f.label :required_false, class: 'col-form-label pt-0' do %>
							<%= f.radio_button :required, false %> Recommended
						<% end %>
					</div>
				</div>

				<% if item_in_searchworks?(item) %>
					<div class="form-group">
						<%= f.label :comment, 'Comments', class: 'col-form-label mt-0' %>
						<%= f.text_area :comment, cols: 60, rows: 3, class: 'form-control' %>
					</div>
				<% end %>
		  </div>
		</div>
	</div>
<% end %>
