<tr class="<%= cycle("odd","even") %>">
	<td><%= index %></td>
	<td>
		<% if item_in_searchworks? %>
  		<p>SearchWorks Title</p>
  		<p><%= link_to "http://searchworks.stanford.edu/view/12345" -%> <span class="add-comment"><%= link_to "Add comment", "", :class=> "add-comment", :"data-item-index" => index -%></span></p>
  	<%- end -%>
  	<textarea cols="60" rows="5" class="item-comment" name="reserve[<%= index %>][comment]" data-item-index="<%= index %>" <%= "style='display:none;'" if item_in_searchworks? %>></textarea>
	</td>
	<td>
		<input type="text" class="num_copies" maxlength="2" /><br/>
		<input type="checkbox" id="personal_copy"/>	<label for="personal_copy">personal copy available</label>
		<% unless item_in_searchworks? %>
			<br /><input type="checkbox" id="purchase_item"/>	<label for="purchase_item">purchase this item</label>
		<% end %>
	</td>
	<td>
		<select>
			<option>2 hours</option>
		</select>
	</td>
	<td><%= link_to "[delete]" -%></td>
</tr>