<tr class="<%= cycle("odd","even") %>">
	<td class="enumerator"><%= index + 1 %></td>
	<td>
		<% if item_in_searchworks?(item) %>
      <p class="h5">
        <%= link_to item['title'], "https://searchworks.stanford.edu/view/#{item['ckey']}", rel: 'noopener', target: '_blank' %>
      </p>
      <% if item['imprint'] %>
        <p><%= item['imprint'] %></p>
      <% end %>
  	<% end %>
    <input type="hidden" name="reserve[item_list][][imprint]" value="<%= item["imprint"] if item["imprint"] %>" />
  	<input type="hidden" name="reserve[item_list][][title]" value="<%= item["title"] if item["title"] %>" />
  	<input type="hidden" name="reserve[item_list][][ckey]" value="<%= item["ckey"] if item["ckey"] %>" />
    <label for="item-comment-<%= index %>">Comments</label>
    <textarea id="item-comment-<%= index %>" aria-label="comment" cols="60" rows="2" class="form-control" name="reserve[item_list][][comment]">
      <%= item["comment"] %>
    </textarea>
	</td>
	<td>
    <div class="digital-item-type">
      Digital item required:
      <div class="form-check">
        <%= radio_button_tag "reserve[item_list][][digital_type]",
                             "complete_work",
                             (item["digital_type"] == "complete_work"),
                             id: "complete-work-#{index}",
                             class: "form-check-input"
        %>
        <label class="form-check-label" for="complete-work-<%= index %>">
          complete work
        </label>
      </div>
      <div class="form-check">
        <%= radio_button_tag "reserve[item_list][][digital_type]",
                             "partial_work",
                             (item["digital_type"] == "partial_work"),
                             id: "partial-work-#{index}",
                             class: "form-check-input"
        %>
        <label class="form-check-label" for="partial-work-<%= index %>">
          chapter or article (up to 50 pages)
        </label>
      </div>
      <div class="form-group">
        <label for="parial-work-description<%= index %>">Example textarea</label>
        <textarea
          name="reserve[item_list][][digital_type_description]"
          class="form-control"
          id="parial-work-description-<%= index %>"
          rows="2"
          placeholder="Chapter title or page range"
        ><%= item["digital_type_description"] if item["digital_type_description"] %></textarea>
      </div>
    </div>
  </td>
	<td><%= link_to "[delete]", "", class: "delete", method: 'delete' -%></td>
</tr>
