<div id="course-details">

	<div id="main-details">
		<h2>Course ID and Title</h2>
		
		<div class="section"><span>Instructor:</span> Some Professor</div>
		<div class="section">Send request to<br/>
			<select name="reserve[library]">
				<option value="none">(select library)</option>
				<% app_config.reserve_libraries.each do |email, library| %>
					<option <%= "selected='selected'" if @reserve and @reserve.library == library -%> value="<%= library -%>"><%= library -%></option>
				<% end %>
			</select>
		</div>
		<div class="section">
			When should these items be reserved?<br/>
			<input type="radio" id="immediate" name="reserve[immediate]" value="true" <%= "checked='checked'" if @reserve and @reserve.immediate %> /><label for="immediate">immediately</label><br/>
			<input type="radio" id="future" name="reserve[immediate]" value="false" <%= "checked='checked'" if @reserve and !@reserve.immediate %> />
			<label for="future">for beginning of </label>
			<select id="term" name="reserve[term]">
				<option <%= "selected='selected'" if @reserve and @reserve.term == "Fall 2012" %>>Fall 2012</option>
				<option <%= "selected='selected'" if @reserve and @reserve.term == "Winter 2012" %>>Winter 2012</option>
				<option <%= "selected='selected'" if @reserve and @reserve.term == "Spring 2012" %>>Spring 2012</option>
				<option <%= "selected='selected'" if @reserve and @reserve.term == "Summer 2012" %>>Summer 2012</option>
			</select> 
			<label for="term">quarter</label>
		</div>
		
	</div>

	<fieldset id="list-management">				
		<h3>List management</h3>				
		<p>Who should the library contact about this list?</p>
		<label for="contact_name">Name</label> <input name="reserve[contact_name]" value="<%= @reserve.contact_name if @reserve -%>" id="contact_name" type="text" /><br/>
		<label for="contact_phone">Phone</label> <input name="reserve[contact_phone]"  value="<%= @reserve.contact_phone if @reserve -%>" id="contact_phone" type="text"/><br/>
		<label for="contact_email">Email</label> <input name="reserve[contact_email]" value="<%= @reserve.contact_email if @reserve -%>"  id="contact_email" type="text"/><br/>
		<label for="editor_sunet_ids" id="editors-list">Who can edit this list?</label><br/>
		<span class="form-label">jdoe,</span> <input name="reserve[editor_sunet_ids]" value="<%= @reserve.editor_sunet_ids if @reserve -%>" id="editor_sunet_ids" type="text"/><br/>
		<span class="help">(SUNet IDs, separated by commas)</span>					
	</fieldset>
  <div style="clear:both;"></div>
</div>	
<div>
  <table id="item_list_table">	
    <thead>		
    	<tr>
    		<th class="number">&nbsp;</th>
    		<th class="title">Title</th>
    		<th class="copies">Copies</th>
    		<th class="loan_period">Loan period</th>
    		<th class="delete">Delete</th>
    	</tr>
  	</thead>	
  	<tbody>
    	<% unless @reserve.blank? or @reserve.item_list.blank? %>
    		<% @reserve.item_list.each_with_index do |item, index| %>
    		  <%= render :partial => "reserves_item", :locals => { :item => item, :index => index }-%>
    		<% end %>
    	<% end %>	
    	<tr id="add_row" class="<%= cycle("odd","even") %>">
    		<td><%= (@reserve.blank? or @reserve.item_list.blank?) ? 1 : @reserve.item_list.length + 1 -%></td>
    		<td colspan="4">
    			Copy/paste an item URL or catkey from <%= link_to( "SearchWorks", "http://searchworks.stanford.edu/") %>.<br/>
    			<input type="text" id="sw_ckey" /><input type="button" value="add" /> - or - <%= link_to("Reserve an item that's not in SearchWorks", { :controller => 'reserves', :action => 'add_item', :format => 'js', :sw => 'false' }, :remote => true ) %>
    		</td>
    	</tr>
  	</tbody>		
  </table>
</div>