<div id="course-details">

	<div id="main-details">
		<h2>Course ID and Title</h2>
		
		<div class="section"><span>Instructor:</span> Some Professor</div>
		<div class="section">Send request to<br/>
			<select name="reserve[library]">
				<option value="none">(select library)</option>
				<% app_config.reserve_libraries.each do |email, library| %>
					<option <%= "selected='selected'" if @reserve and @reserve.library == library -%> value="<%= library -%>"><%= library -%></option>
				<% end %>
			</select>
		</div>
		<div class="section">
			When should these items be reserved?<br/>
			<input type="radio" id="immediate" name="reserve[immediate]" value="true" /><label for="immediate">immediately</label><br/>
			<input type="radio" id="future" name="reserve[immediate]" value="false" />
			<label for="future">for beginning of 
				<select>
					<option>Spring 2012</option>
				</select> 
				quarter
			</label>
		</div>
		
	</div>

	<fieldset id="list-management">				
		<h3>List management</h3>				
		<p>Who should the library contact about this list?</p>
		<label for="contact_name">Name</label> <input name="reserve[contact_name]" value="<%= @reserve.contact_name if @reserve -%>" id="contact_name" type="text" /><br/>
		<label for="contact_phone">Phone</label> <input name="reserve[contact_phone]"  value="<%= @reserve.contact_phone if @reserve -%>" id="contact_phone" type="text"/><br/>
		<label for="contact_email">Email</label> <input name="reserve[contact_email]" value="<%= @reserve.contact_email if @reserve -%>"  id="contact_email" type="text"/><br/>
		<label for="editor_sunet_ids">Who can edit this list?</label><br/>
		jdoe, <input name="reserve[editor_sunet_ids]" value="<%= @reserve.editor_sunet_ids if @reserve -%>" id="editor_sunet_ids" type="text"/><br/>
		<span>(SUNet IDs, separated by commas)</span>					
	</fieldset>
  <div style="clear:both;"></div>
</div>	
<div>
  <table>	
    <thead>		
    	<tr>
    		<th>&nbsp;</th>
    		<th>Title</th>
    		<th>Copies</th>
    		<th>Loan period</th>
    		<th>Delete</th>
    	</tr>
  	</thead>	
  	<tbody>
    	<% unless @reserve.blank? or @reserve.item_list.blank? %>
    		<% @reserve.item_list.each_with_index do |item, index| %>
    		<%= render :partial => "reserves_item", :locals => { :item => item, :index => index }-%>
    		<% end %>
    	<% end %>	
    	<tr>
    		<td><%= (@reserve.blank? or @reserve.item_list.blank?) ? 1 : @reserve.item_list.length + 1 -%></td>
    		<td>
    			Copy/paste an item URL or catkey from <%= link_to( "SearchWorks", "http://searchworks.stanford.edu/") %>.<br/>
    			<input type="text" /><input type="button" value="add" /> 
    		</td>	
    		<td colspan="3"> - or - <%= link_to("Reserve an item that's not in SearchWorks")%>
    	</tr>
  	</tbody>		
  </table>
</div>