<div id="course-details" class="d-block d-md-flex justify-content-between align-items-start">
	<div id="main-details">
	  <h1>Course Reserves List Request</h1>
	  <%- if params[:action] == "new" -%>
      <h2>
        <%= @course.cid if @course -%>: <%= @course.title if @course -%>
        <%= "(#{@course.cross_listings})" if @course and @course.cross_listings.present? %>
      </h2>
      <input type="hidden" name="reserve[cid]" value="<%= @course.cid if @course -%>" />
      <input type="hidden" name="reserve[sid]" value="<%= @course.sid if @course -%>" />
      <input type="hidden" name="reserve[desc]" value="<%= @course.title if @course -%>" />
      <input type="hidden" name="reserve[compound_key]" value="<%= @course.comp_key if @course -%>" />
      <input type="hidden" name="reserve[cross_listings]" value="<%= @course.cross_listings if @course -%>" />
      <div class="section mb-3"><span>Instructor:</span> <%= @course.instructor_names.join(', ') if @course -%></div>
      <input type="hidden" name="reserve[instructor_sunet_ids]" value="<%= @course.instructor_sunets.join(', ') if @course -%>" />
      <input type="hidden" name="reserve[instructor_names]" value="<%= @course.instructor_names.join(', ') if @course -%>" />
		<%- else -%>
  		<h2>
        <%= @reserve.cid if (@reserve and @reserve.cid) -%>: <%= @reserve.course_title if (@reserve and @reserve.course_title) -%>
  		  <%= "(#{@reserve.cross_listings})" if @reserve and @reserve.cross_listings and !@reserve.cross_listings.blank? %>
  		</h2>
  		<input type="hidden" name="reserve[cid]" value="<%= @reserve.cid if (@reserve and @reserve.cid) -%>" />
  		<input type="hidden" name="reserve[sid]" value="<%= @reserve.sid if (@reserve and @reserve.sid) -%>" />
  		<input type="hidden" name="reserve[compound_key]" value="<%= @reserve.compound_key if (@reserve and @reserve.compound_key) -%>" />
  		<input type="hidden" name="reserve[cross_listings]" value="<%= @reserve.cross_listings if (@reserve and @reserve.cross_listings) -%>" />
  		<div class="section mb-3"><span>Instructor:</span> <%= @reserve.instructor_names if (@reserve and @reserve.instructor_names) -%></div>
  		<input type="hidden" name="reserve[instructor_sunet_ids]" value="<%= @reserve.instructor_sunet_ids if (@reserve and @reserve.instructor_sunet_ids) -%>" />
  		<input type="hidden" name="reserve[instructor_names]" value="<%= @reserve.instructor_names if (@reserve and @reserve.instructor_names) -%>" />
		<%- end -%>

		<div class="section mb-3">
      Reserve for this quarter:
			<div id="reserve-timing" class="ml-4">
			  <%- if @reserve and @reserve.has_been_sent -%>
			    <%= @reserve.term %>
			  <%- else -%>
					<% Terms.all.each do |term| %>
						<div>
							<label class="<%= 'disabled' if has_existing_reserve_for_term?(@reserve, term) %>">
								<%= f.radio_button :term, term, disabled: has_existing_reserve_for_term?(@reserve, term) %>
								<%= render_term_label(term) %>
							</label>
						</div>
					<% end %>
  			<%- end -%>
			</div>
		</div>

    <% if @reserve.has_been_sent %>
      <div class="section mb-3">
        <div class="sent_date">Request sent <%= @reserve.sent_date %></div>

        <%= link_to('Copy this list for a new quarter', reserve_terms_path(@reserve), class: 'btn btn-cardinal-red', data: { modal: 'trigger' }) %>
      </div>
    <% end %>

		<div class="section">
		  <label for="libraries" class="required">Send request to <span aria-hidden="true" class="badge badge-warning text-white">Required</span></label>
			<select id="libraries" name="reserve[library]" class="form-control ml-4" autocomplete="off">
				<option disabled selected hidden value="">(select library)</option>
				<% Settings.reserve_libraries.each do |code, library| %>
					<option value="<%= code -%>" <%= "selected='selected'" if @reserve.library.to_s == code.to_s -%> ><%= library -%></option>
				<% end %>
			</select>
		</div>
	</div>
	<fieldset id="list-management" class="card bg-light">
		<h3 class="card-header">List management</h3>
		<div class="card-body">
			<p>Who should the library contact about this list?</p>
			<div class="form-group row">
				<label for="contact_name" class="col-3 col-form-label" >Name</label> <input class="col-7 form-control" name="reserve[contact_name]" value="<%= @reserve.contact_name if @reserve -%>" id="contact_name" type="text" />
			</div>
			<div class="form-group row">
				<label for="contact_phone" class="col-3 col-form-label" >Phone</label> <input class="col-7 form-control" name="reserve[contact_phone]"  value="<%= @reserve.contact_phone if @reserve -%>" id="contact_phone" type="tel"/>
			</div>
			<div class="form-group row">
				<label for="contact_email" class="col-3 col-form-label" >Email</label> <input class="col-7 form-control" name="reserve[contact_email]" value="<%= @reserve.contact_email if @reserve -%>"  id="contact_email" type="email"/>
			</div>
				<label for="editor_sunet_ids" id="editors-list" class="col-form-label">Who can edit this list?</label>
				<div class="form-inline row mb-1 align-items-end">
					<span class="form-label col-3 text-right">
						<% ((params[:action] == "new" ? @course.instructor_sunets : @reserve.instructor_sunets) || []).each do |sunet| %>
							<span class="text-nowrap"><%= sunet %>,</span>
						<% end %>
					</span>
					<input class="form-control col-7" name="reserve[editor_sunet_ids]" value="<%= @reserve.editor_sunet_ids if @reserve -%>" id="editor_sunet_ids" type="text"/><br/>
				</div>
				<small class="form-text text-muted">(SUNet IDs, separated by commas)</small>
		</div>
	</fieldset>
</div>
<div class="table-responsive-md">
  <table id="item_list_table" class="table table-striped mt-4">
    <thead class="thead-dark">
    	<tr>
    		<th class="number">&nbsp;</th>
    		<th class="title">Title</th>
        <th class="reserve">Reserve (all reserves are digital)</th>
    		<th class="delete">Delete</th>
    	</tr>
  	</thead>
  	<tbody>
    	<% unless @reserve.blank? or @reserve.item_list.blank? %>
    		<% @reserve.item_list.each_with_index do |item, index| %>
    		  <%= render :partial => "reserves_item", :locals => { :item => item, :index => index }-%>
    		<% end %>
    	<% end %>
    	<%- if !@reserve or !@reserve.disabled -%>
      	<tr id="add_row">
      		<td class="enumerator last-row">
            <span class="counter"></span>
          </td>
          <td colspan="3">
      			<label for="sw_url">Copy/paste an item URL or catkey from <%= link_to( "SearchWorks", "https://searchworks.stanford.edu/", rel: 'noopener', target: '_blank') %>.</label><br/>
						<div class="d-flex align-items-center mt-1">
							<div class="input-group w-auto">
								<input class="form-control" type="text" id="sw_url" />
								<div class="input-group-append">
                  <%= link_to("add", { :controller => 'reserves', :action => 'add_item', :format => 'js', :sw => 'true' }, :remote => true, :class => "add-sw-item btn btn-cardinal-red") -%>
								</div>
							</div>
							<div>
                &nbsp; - or - <%= link_to("Reserve an item that's not in SearchWorks", { :controller => 'reserves', :action => 'add_item', :format => 'js', :sw => 'false' }, :id=>"add_custom", :remote => true ) %>
							</div>
						</div>
      		</td>
      	</tr>
      <%- end -%>
  	</tbody>
  </table>
</div>
