<div>
  <p><%= link_to("Home", root_path) %></p>
	<%= form_for @reserve, :url => { :action => 'update'}, :html => {:id=>"reserve_form"} do |f| -%>
		<%= render :partial => "reserves_form", :locals => {:f => f} -%>
		<%- unless @reserve.disabled -%>
  		<input type="submit" id="save" value="Save" class="active-button">
  		<%- if @reserve.has_been_sent -%>
  		  <input type="submit" name="send_request" value="Sent <%= @reserve.sent_date %>" class="disabled-button" id="send" disabled="true"> 	
  		<%- else -%>
    	  <input type="submit" name="send_request" value="Send request" class="disabled-button" id="send" disabled="true"> 	
    	<%- end -%>
    	<%= link_to "Cancel [discard changes]" -%>
		<%- end -%>
	<%- end -%>
</div>
<%- # This will check validations on page load if the reserve hasn't been sent.  This is what allows us to keep sent items disabled when until the user changes something in the form.  -%>
<%- unless @reserve.has_been_sent -%>
  <script type="text/javascript">
    check_validations();
  </script>
<%- end -%>