<h1>Course Reserves</h1>
<div id="introduction">
  <p>Who can create and modify reserve lists:<br/>
     The instructor of record can create and modify course reserve lists.  If you are not the instructor of record, you must be authorized to edit the reserve list.  The instructor of record must create a new reserve list or modify an existing list, and add your SUNetID under "Who can edit this list?"</p>
    
  <p>Processing time:<br/>
     To have materials ready for the first day of classes, please save and send your course reserve list at least one week before the beginning of classes.   When adding additional material to your reserve list, allow up to 7 days processing time before items are available for use.  Materials that must be purchased for your course may take up to 6 weeks before they can be made available.</p>

  <p>Instructor owned material:<br/>
     Instructor-owned materials may be placed on reserve for student use.   Please include these materials on your reserve list and check "personal copy".</p>

  <p>Still have questions? Contact us at <%= link_to("greenreserves@stanford.edu", "mailto:greenreserves@stanford.edu") %> or (650) 723-1492.</p>
</div>
<%= link_to "Create a new reserve list", all_courses_path, :class => 'dialog active-button'  -%>
<div id="reserves-section">
  <% unless @my_reserves.blank? %>
    <h2>Modify an existing reserve list</h2>
  	<table id="my-reserves">
  		<thead>
  			<tr>
  				<th id="term">Term</th>
  				<th id="course_id">Course ID</th>
  				<th id="course_description">Description</th>
  				<th id="instructor">Instructor</th>
  				<th id="status">Status</th>
  				<th id="clone">Clone for new quarter</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% @my_reserves.each do |course| -%>
  				<tr class="<%= cycle("odd", "even") -%>">
  					<td><%= course.term -%></td>
  					<td><%= course.cid -%></td>
  					<td><%= link_to(course.desc, edit_reserve_path(course[:id])) -%></td>
  					<td><%= course.instructor_names %></td>
  					<td><%= (course.sent_date.blank? or course.sent_date.nil?) ? "Not sent" : "Sent #{course.sent_date}" %></td>
  					<td>
  					  <div class="clone_term">
    					  <div class="clone_widget">Select quarter <%= link_to("[ v ]", "") %></div>
    					  <div class="clone_select" style="display:none;">
    					    <%- CourseReserves::Application.config.future_terms.each do |term| -%>
      					    <div><%= link_to(term, clone_reserve_path(course[:id], :term=>term)) -%></div>
    					    <%- end -%>
    					  </div>
  					  </div>
  					</td>
  				</tr>
  			<% end %>
  		</tbody>

	
  	</table>
  <% end %>
</div>