<h1>Course Reserves</h1>
<div id="introduction">
  <p>Introductory text goes here</p>
</div>
<%= link_to "Create a new reserve list", all_courses_path, :class => 'dialog active-button'  -%>
<div id="reserves-section">
  <h2>Modify an existing reserve list</h2>
  <% unless @my_reserves.blank? %>
  	<table id="my-reserves">
  		<thead>
  			<tr>
  				<th id="term">Term</th>
  				<th id="course_id">Course ID</th>
  				<th id="course_description">Description</th>
  				<th id="instructor">Instructor</th>
  				<th id="status">Status</th>
  				<th id="clone">Clone for new quarter</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% @my_reserves.each do |course| -%>
  				<tr class="<%= cycle("odd", "even") -%>">
  					<td><%= course.term -%></td>
  					<td><%= course.cid -%></td>
  					<td><%= link_to(course.desc, edit_reserve_path(course[:id])) -%></td>
  					<td><%= course.instructor_names %></td>
  					<td><%= (course.sent_date.blank? or course.sent_date.nil?) ? "Not sent" : "Sent #{course.sent_date}" %></td>
  					<td>Select quarter</td>
  				</tr>
  			<% end %>
  		</tbody>

	
  	</table>
  <% end %>
</div>