<h1>Course Reserves</h1>
<div id="introduction">
  <h2>Authorization</h2>
  <p>
    The instructor of record can create and edit lists for their course, and can
     authorize others to edit and copy their lists. To do this: Create a new
     list or open an existing list. Add the SUNetID (lower case) of the new
      editor under "Who can edit this list?" Click "Save draft".
  </p>

  <h2>Processing time</h2>
  <p>
    Please save and send your course reserve list
    <strong style="font-weight: 700;">at least one week</strong> before the
    beginning of classes. During the active term, allow up to 7 days
    processing time. Materials that must be purchased for your course may
    take up to 6 weeks.
  </p>

  <h2>Questions?</h2>
  <p>
    Contact us at <%= mail_to Settings.email.questions %> or (650) 723-1492.
  </p>
</div>

<%= link_to "Create a new reserve list", all_courses_path, :class => 'dialog active-button'  -%>
<%- unless flash[:error].blank? -%>
  <div class="error"><%=  flash[:error] %></div>
<%- end -%>
<div id="reserves-section">
  <% unless @reserves.blank? %>
    <h2>Modify an existing reserve list</h2>
  	<table id="my-reserves">
  		<thead>
  			<tr>
  				<th id="course_id">Course ID</th>
  				<th id="term">Term</th>
  				<th id="actions" data-sort-method='none' class="no-sort">Actions</th>
  				<th id="course_description" data-sort-method='none' class="no-sort">Description</th>
  				<th id="instructor">Instructor</th>
  				<th id="status">Status</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% @reserves.each do |course| -%>
  				<tr class="<%= cycle("odd", "even") -%>">
  					<td><%= course.cid -%></td>
  					<td data-sort='<%= sortable_term_value(course.term) %>'><%= course.term -%></td>
            <td>
              <%= link_to edit_reserve_path(course) do %>
                Edit <span class='sr-only'><%= "#{course.cid} - #{course.term}" %></span>
              <% end %>
              <%= link_to reserve_terms_path(course), class: 'copy-link dialog' do %>
                Copy <span class='sr-only'><%= "#{course.cid} - #{course.term}" %>
              <% end %>
            </td>
            <%- # TODO: Create some sort of model method for the title of the course so we can fall back if there is no #desc -%>
  					<td><%= course.desc -%></td>
  					<td><%= course.instructor_names %></td>
  					<td><%= (course.sent_date.blank? or course.sent_date.nil?) ? "Not sent" : "Sent #{course.sent_date}" %></td>
  				</tr>
  			<% end %>
  		</tbody>


  	</table>
    <script>
      new Tablesort(document.getElementById('my-reserves'));
    </script>
  <% end %>
</div>
