<h1>Request Course Reserves</h1>
<div id="introduction">
  <p>
    Create or modify a list to place library materials (books, media, and licensed electronic resources)
    on reserve for your course. We can also circulate instructor-owned copies, and return materials
    to you at the end of the term.
  </p>

  <p>
    Please save and send your list at least 7 days before materials are needed for student use.
    If the library must purchase materials, it may take up to 6 weeks before they are available for students.
  </p>

  <p>
    <%= link_to 'https://library.stanford.edu/course-reserves', target: '_blank', rel: 'noopener' do %>
      More information about Course Reserves
    <% end %>
  </p>

  <h2>Questions?</h2>
  <p>
    Contact us at <%= mail_to Settings.email.questions %> or (650) 723-1492.
  </p>
</div>

<%= link_to "Create a new reserve list", all_courses_path, class: 'dialog btn btn-cardinal-red my-3', data: { modal: 'trigger' }  -%>
<%- unless flash[:error].blank? -%>
  <div class="error"><%=  flash[:error] %></div>
<%- end -%>
<div id="reserves-section">
  <% unless @reserves.blank? %>
    <h2>Modify an existing reserve list</h2>
  	<table id="my-reserves" class="table table-striped">
  		<thead class="thead-dark">
  			<tr>
  				<th id="course_id" class="text-nowrap">Course ID</th>
  				<th id="term">Term</th>
  				<th id="actions" data-sort-method='none' class="no-sort">Actions</th>
  				<th id="course_description" data-sort-method='none' class="no-sort">Description</th>
  				<th id="instructor">Instructor</th>
  				<th id="status">Status</th>
  			</tr>
  		</thead>
  		<tbody>
  			<% @reserves.each do |course| -%>
  				<tr>
  					<td><%= course.cid -%></td>
  					<td data-sort='<%= sortable_term_value(course.term) %>'><%= course.term -%></td>
            <td class="text-nowrap">
              <%= link_to edit_reserve_path(course) do %>
                Edit <span class='sr-only'><%= "#{course.cid} - #{course.term}" %></span>
              <% end %>
              <%= link_to reserve_terms_path(course), class: 'copy-link dialog ml-4', data: { modal: 'trigger' } do %>
                Copy <span class='sr-only'><%= "#{course.cid} - #{course.term}" %>
              <% end if course.has_been_sent %>
            </td>
            <td><%= course.course_title -%></td>
            <td><%= course.instructor_names %></td>
            <td><%= (course.sent_date.blank? or course.sent_date.nil?) ? "Not sent" : "Sent #{course.sent_date}" %></td>
          </tr>
        <% end %>
      </tbody>


  	</table>
    <script>
      $(document).ready(function() {
        $("#my-reserves").dataTable({
          order: [
            [ 1, "desc" ]
          ],
          columns: [
            null,
            null,
            { "orderable": false },
            { "orderable": false },
            null,
            null
          ],
          info: false,
          paging: false,
          searching: false,
        });
      });
    </script>
  <% end %>
</div>
