<!DOCTYPE html>
<html>
<head>
  <title>CourseReserves</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller]}-#{params[:action]}" %>">
  <div id="wrapper">
    <div id="container">
      <header id="header">
        <%= link_to(image_tag("sul.png"), root_url) %>
        <span id="links">
          <%= current_user %> | <%= link_to("logout", "") %>
        </span>
      </header>
      <%= yield %>
    </div>
  </div>
</body>
</html>
