<!DOCTYPE html>
<html>
<head>
  <title>CourseReserves</title>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= "#{params[:controller]}-#{params[:action]}" %>">
  <div id="wrapper">
    <div id="container">
      <header id="header">
        <%= link_to(image_tag("sul.png"), "http://library.stanford.edu", :class=>"img-link") %>
        <span id="links">
          <%= current_user %> <span>(close browser to logout)</span>
        </span>
      </header>
      <%= yield %>
    </div>
  </div>
</body>
</html>
